.discount {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.discount .content p {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.7;
}

.discount .image {
  flex-basis: 50%;
  background-image: url(https://media.istockphoto.com/id/1337275668/photo/sale-concept-percent-sign-price-discount-on-speech-bubble.jpg?b=1&s=170667a&w=0&k=20&c=fcJc9ySlI6zeMNpug7UntHO5pDC1uZ5LzfLO_oJM7N4=);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s infinite;
}

@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
    padding-bottom: 20px;
  }
}

.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f4db;
  z-index: -1;
}

.discount .image img {
  width: 300px;
  max-width: 100%;
}

.discount .form {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}

.discount form .input {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.discount form .input:focus {
  outline: none;
}

.discount form textarea {
  height: 200px;
  resize: none;
}

.discount form input[type="submit"] {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #1fd1f9;
  border: none;
  transition: 0.3s;
}

.discount form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #1f91f4;
}

@keyframes change-background {
  0%,
  100% {
    background-image: url(https://media.istockphoto.com/id/1337275668/photo/sale-concept-percent-sign-price-discount-on-speech-bubble.jpg?b=1&s=170667a&w=0&k=20&c=fcJc9ySlI6zeMNpug7UntHO5pDC1uZ5LzfLO_oJM7N4=);
  }
  50% {
    background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/product-discounts-design-template-2fdf699890b1d0cdf371e9de704035cf_screen.jpg?ts=1610023963);
  }
}
